@import url(./components/Quiz.css);
@import url(./components/ResultTable.css);
@import url(./components/Popup.css);

.page {
  background-color: #6EB5C0;
  color: #006C84;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

.page_dark {
  background-color: #282d2e;
  color: #6f7172;
}

.theme-switch__input {
	height: 0;
	width: 0;
	visibility: hidden;
}

.theme-switch__label {
	cursor: pointer;
	text-indent: -9999px;
	width: 110px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
}

.theme-switch__label::after {
	content: '';
	position: absolute;
	top: 9px;
	left: 4px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

.theme-switch__input:checked + label {
	background: #bada55;
}

.theme-switch__input:checked + .theme-switch__label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.theme-switch__label:active:after {
	width: 75px;
}

.theme-switch {
  position: absolute;
  top: 20px;
  left: calc(50% -50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}




